# wmllint: no translatables

# The Era of Myths is distributed under (the GNU GPL)
# A copy of the GNU GPL is in Era_of_Myths/COPYING
# The changelog is located at Era_of_Myths/ChangeLog

[textdomain]
    name="wesnoth-Era_of_Myths"
    path="data/add-ons/Era_of_Myths/translations"
[/textdomain]

##define__THERIAN_SHIFTING__
# defining this enables a shifting animation for the Therian lvl 1 cat and lvl 1 falcon
# it's disabled because the movment animation is annoying
##enddef

##define __EOM_UNUSED__
# This would enable different experiments with succubus units, but they could only be obtained using debug mode
# It would also enable the Moon Blade animation
##enddef

#ifdef MULTIPLAYER
[binary_path]
    path="data/add-ons/Era_of_Myths/"
[/binary_path]
{~add-ons/Era_of_Myths/detect.cfg}
{~add-ons/Era_of_Myths/mainline-strings.cfg}
{~add-ons/Era_of_Myths/macros/}
{~add-ons/Era_of_Myths/EOM_eras.cfg}
[units]
    {~add-ons/Era_of_Myths/macros/general-movetypes.cfg}
    {~add-ons/Era_of_Myths/units/}
[/units]
#endif

#ifdef EDITOR
[binary_path]
    path="data/add-ons/Era_of_Myths/"
[/binary_path]
{~add-ons/Era_of_Myths/mainline-strings.cfg}
{~add-ons/Era_of_Myths/macros}
[units]
    {~add-ons/Era_of_Myths/macros/general-movetypes.cfg}
    {~add-ons/Era_of_Myths/units/}
[/units]
#endif
