# wmllint: no translatables

# required includes to have units work in campaign
# by using this file, internal structure of era can be changed
# without breaking compatibility with campaigns

#ifndef MULTIPLAYER
[binary_path]
    path="data/add-ons/Era_of_Myths/"
[/binary_path]

{./mainline-strings.cfg}
{./macros}
[units]
    {./macros/general-movetypes.cfg}
    {./units/}
[/units]
#else
# in multiplayercampaigns, this era's units and binary_path are known to all add-ons (in difference to the macros)
# only if you use [advancefrom] or extra_defines= for custom units it may (or may not) be needed to read that unit(s) again

{./mainline-strings.cfg}
{./macros}
#endif
