# wmllint: no translatables

# required includes to have units work in campaign
# by using this file, internal structure of era can be changed
# without breaking compatibility with campaigns

[binary_path]
    path="data/add-ons/Era_of_Myths/"
[/binary_path]

{~add-ons/Era_of_Myths/mainline-strings.cfg}
#{~add-ons/Era_of_Myths/macros/sound-utils.cfg}
{~add-ons/Era_of_Myths/macros}
[+units]
    {~add-ons/Era_of_Myths/macros/general-movetypes.cfg}
    {~add-ons/Era_of_Myths/units/}
[/units]
