#textdomain wesnoth-Era_of_Myths

# wmllint: local spelling RPG

#define EOM_SIDE ERA FACTION
    {~add-ons/Era_of_Myths/factions/{FACTION}-{ERA}.cfg}
#enddef

# This is a modification of the mainline RANDOM_SIDE macro, which
# excludes the older flavor of the devlings faction from random selection

#textdomain wesnoth-multiplayer
#undef  RANDOM_SIDE
#define RANDOM_SIDE
    [multiplayer_side]
        id=Random
        name= _"Random"
        image="units/random-dice.png"
        random_faction=yes
        except=EOM_original_devlings,POWER_original_devlings
    [/multiplayer_side]
#enddef
#textdomain wesnoth-Era_of_Myths

# This is a modification of the mainline 1.12 QUICK_4MP_LEADERS macro, which gives to
# elementals the trait emerald instead of quick

#undef  QUICK_4MP_LEADERS
#define QUICK_4MP_LEADERS
    [event]
        name=prestart

        [store_unit]
            [filter]
                canrecruit=yes
                formula="$($this_unit.max_moves<5)"
            [/filter]

            kill=yes
            variable=leaders_to_make_quick
        [/store_unit]

        {FOREACH leaders_to_make_quick i}
            [if]
                # The variable check is done here instead of in the [store_unit]
                # so that all boolean values work
                [variable]
                    name=leaders_to_make_quick[$i].variables.dont_make_me_quick
                    boolean_equals=yes
                [/variable]

                [then]
                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/then]

                [else]
                    [if]
                        [variable]
                            name=leaders_to_make_quick[$i].race
                            equals=EOM_elemental
                        [/variable]
                        [then]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_EMERALD}
                                [/literal]
                            [/set_variables]
                        [/then]
                        [else]
                            [set_variables]
                                name=temp
                                [literal]
                                    {TRAIT_QUICK}
                                [/literal]
                            [/set_variables]
                        [/else]
                    [/if]

                    [set_variables]
                        name=leaders_to_make_quick[$i].modifications.trait
                        mode=append

                        [insert_tag]
                            name=literal
                            variable=temp.trait
                        [/insert_tag]
                    [/set_variables]

                    {CLEAR_VARIABLE leaders_to_make_quick[$i].max_moves,leaders_to_make_quick[$i].moves,leaders_to_make_quick[$i].max_hitpoints,leaders_to_make_quick[$i].hitpoints}

                    [unstore_unit]
                        variable=leaders_to_make_quick[$i]
                    [/unstore_unit]
                [/else]
            [/if]
        {NEXT i}

        {CLEAR_VARIABLE leaders_to_make_quick,temp}
    [/event]
#enddef

# This is a modification of the mainline 1.12 QUICK_4MP_LEADERS macro,
# which gives different traits to devling leaders

# This macro applies only to the rebalanced devlings
#define STRONG_DEVLING_LEADERS
    [event]
        name=prestart

        [store_unit]
            [filter]
                canrecruit=yes
                race=EOM_devling
                type=EOM_Spikers,EOM_Staplers
                [or]
                    type=EOM2_Staplers
                    race=EOM2_devling
                    canrecruit=yes
                [/or]
            [/filter]

            kill=yes
            variable=devling_leaders
        [/store_unit]
        [store_unit]
            [filter]
                canrecruit=yes
                race=EOM_devling
                type=EOM_Devling_Soldier,EOM_Devling_Chief,EOM_Grand_Devling_Chief,EOM_Devling_Warrior,EOM_Devling_Hero,EOM_Grand_Devling_Hero
                [or]
                    type=EOM2_Devling_Soldier,EOM2_Devling_Chief,EOM2_Grand_Devling_Chief,EOM2_Devling_Warrior,EOM2_Devling_Hero,EOM2_Grand_Devling_Hero
                    race=EOM2_devling
                    canrecruit=yes
                [/or]
            [/filter]

            kill=yes
            variable=overgrown_devling_leaders
        [/store_unit]
        [store_unit]
            [filter]
                canrecruit=yes
                race=EOM_devling
                type=EOM_Blasphemists,EOM_Offenders,EOM_Abusers
                [or]
                    type=EOM2_Offenders,EOM2_Abusers
                    race=EOM2_devling
                    canrecruit=yes
                [/or]
            [/filter]

            kill=yes
            variable=ranged_devling_leaders
        [/store_unit]

        {FOREACH devling_leaders i}
            [set_variables]
                name=temp
                [literal]
                    {TRAIT_LEGEND}
                [/literal]
            [/set_variables]

            [set_variables]
                name=devling_leaders[$i].modifications.trait
                mode=append

                [insert_tag]
                    name=literal
                    variable=temp.trait
                [/insert_tag]
            [/set_variables]

            {CLEAR_VARIABLE devling_leaders[$i].max_moves,devling_leaders[$i].moves,devling_leaders[$i].max_hitpoints,devling_leaders[$i].hitpoints}

            [unstore_unit]
                variable=devling_leaders[$i]
            [/unstore_unit]
        {NEXT i}

        {FOREACH overgrown_devling_leaders i}
            [set_variables]
                name=temp
                [literal]
                    {TRAIT_BEEFY}
                    {TRAIT_BRAWNY}
                [/literal]
            [/set_variables]

            [set_variables]
                name=overgrown_devling_leaders[$i].modifications.trait
                mode=append

                [insert_tag]
                    name=literal
                    variable=temp.trait
                [/insert_tag]
            [/set_variables]

            {CLEAR_VARIABLE overgrown_devling_leaders[$i].max_hitpoints,overgrown_devling_leaders[$i].hitpoints}

            [unstore_unit]
                variable=overgrown_devling_leaders[$i]
            [/unstore_unit]
        {NEXT i}

        {FOREACH ranged_devling_leaders i}
            [set_variables]
                name=temp
                [literal]
                    {TRAIT_BEEFY}
                    {TRAIT_FEARLESS}
                [/literal]
            [/set_variables]

            [set_variables]
                name=ranged_devling_leaders[$i].modifications.trait
                mode=append

                [insert_tag]
                    name=literal
                    variable=temp.trait
                [/insert_tag]
            [/set_variables]

            {CLEAR_VARIABLE ranged_devling_leaders[$i].max_hitpoints,ranged_devling_leaders[$i].hitpoints}

            [unstore_unit]
                variable=ranged_devling_leaders[$i]
            [/unstore_unit]
        {NEXT i}

        {CLEAR_VARIABLE temp,devling_leaders,overgrown_devling_leaders,ranged_devling_leaders}
    [/event]
#enddef

[era]
    id=EOM{VERSION_POSTFIX}
    name= _ "Era of Myths"
    require_era=yes
    description= _ "The standard Era of Myths.
Pickable factions are:

Celestials
Devlings
Vampires
Therians (Shifters)
Elementals
The Warg
Windsongs"

    {RANDOM_SIDE}
    {EOM_SIDE EOM celestials}
    {EOM_SIDE EOM devlings}
    {EOM_SIDE EOM elementals}
    {EOM_SIDE EOM therians}
    {EOM_SIDE EOM vampires}
    {EOM_SIDE EOM wargs}
    {EOM_SIDE EOM windsong}
    {EOM_SIDE EOM devlings-original}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {STRONG_DEVLING_LEADERS}
[/era]

[era]
    id=EOM_balanced{VERSION_POSTFIX}
    name= _ "Era of Myths (balanced)"
    require_era=yes
    description= _ "A selection of factions considered balanced. As there would be:

Celestials
Devlings
Elementals
Vampires
Windsongs"

    {RANDOM_SIDE}
    {EOM_SIDE EOM celestials}
    {EOM_SIDE EOM devlings}
    {EOM_SIDE EOM elementals}
    {EOM_SIDE EOM vampires}
    {EOM_SIDE EOM windsong}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {STRONG_DEVLING_LEADERS}
[/era]

[era]
    id=EOM_power{VERSION_POSTFIX}
    name= _ "Era of Myths Lvl. 2"
    require_era=yes
    description= _ "Same factions like in the standard Era of Myths, but you can recruit level 2 units."

    {RANDOM_SIDE}
    {EOM_SIDE POWER celestials}
    {EOM_SIDE POWER devlings}
    {EOM_SIDE POWER elementals}
    {EOM_SIDE POWER therians}
    {EOM_SIDE POWER vampires}
    {EOM_SIDE POWER wargs}
    {EOM_SIDE POWER windsong}
    {EOM_SIDE POWER devlings-original}

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {STRONG_DEVLING_LEADERS}
[/era]

[era]
    id=EOM+default{VERSION_POSTFIX}
    name= _ "Default + Myths"
    require_era=yes
    description= _ "The factions from the standard era and the Era of Myths are available."

    {RANDOM_SIDE}
    {EOM_SIDE EOM celestials}
    {EOM_SIDE EOM devlings}
    {EOM_SIDE EOM elementals}
    {EOM_SIDE EOM therians}
    {EOM_SIDE EOM vampires}
    {EOM_SIDE EOM wargs}
    {EOM_SIDE EOM windsong}
    {EOM_SIDE EOM devlings-original}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
#ifver WESNOTH_VERSION <= 1.13.10
    {multiplayer/factions/khalifate-default.cfg}
#else
    {multiplayer/factions/dunefolk-default.cfg}
#endif

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {STRONG_DEVLING_LEADERS}
[/era]

[era]
    id=EOM+default_power{VERSION_POSTFIX}
    name= _ "Default + Myths Lvl. 2"
    require_era=yes
    description= _ "The standard era and the Era of Myths. You can recruit level 2 units."

    {RANDOM_SIDE}
    {EOM_SIDE POWER celestials}
    {EOM_SIDE POWER devlings}
    {EOM_SIDE POWER elementals}
    {EOM_SIDE POWER therians}
    {EOM_SIDE POWER vampires}
    {EOM_SIDE POWER wargs}
    {EOM_SIDE POWER windsong}
    {EOM_SIDE POWER devlings-original}
    {multiplayer/factions/loyalists-aoh.cfg}
    {multiplayer/factions/rebels-aoh.cfg}
    {multiplayer/factions/northerners-aoh.cfg}
    {multiplayer/factions/undead-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/drakes-aoh.cfg}
#ifver WESNOTH_VERSION <= 1.13.10
    {multiplayer/factions/khalifate-aoh.cfg}
#else
    {multiplayer/factions/dunefolk-aoh.cfg}
#endif

    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
    {STRONG_DEVLING_LEADERS}
[/era]

[era]
    id=EOM_recruit{VERSION_POSTFIX}
    name= _ "Myths RPG"
    require_era=yes
    description= _ "An Era for RPG Playing. You cannot recruit units. This is only meant to be used for RPG-style scenarios, or other scenarios where you shouldn't be allowed to recruit."

    {RANDOM_SIDE}
    {EOM_SIDE RECRUIT celestials}
    {EOM_SIDE RECRUIT devlings}
    {EOM_SIDE RECRUIT elementals}
    {EOM_SIDE RECRUIT therians}
    {EOM_SIDE RECRUIT vampires}
    {EOM_SIDE RECRUIT wargs}
    {EOM_SIDE RECRUIT windsong}
[/era]

#undef EOM_SIDE
#undef RANDOM_SIDE
#undef QUICK_4MP_LEADERS
#undef STRONG_DEVLING_LEADERS
