#textdomain wesnoth-Era_of_Myths

[multiplayer_side]
    id=RECRUIT_celestials
    name= _"Celestials"
    image=celestials/crusader.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=EOM_Crusader
    leader=EOM_Messenger,EOM_Light_Spirit,EOM_Crusader,EOM_Legionnaire,EOM_Wizard,EOM_Zealot
    random_leader=EOM_Messenger,EOM_Crusader,EOM_Legionnaire,EOM_Wizard,EOM_Zealot
    terrain_liked=Rd #Street with dry dirt, only for the desert map generator, when desertlike area is next to the street
[/multiplayer_side]
