#textdomain wesnoth-Era_of_Myths

[multiplayer_side]
    id=POWER_elementals
    name= _"Elementals"
    image=elementals/fireghost.png
    type=random
    leader=EOM_Fire_Ghost,EOM_Djinn,EOM_Ice_Shell,EOM_Lava_Beast,EOM_Stone_Titan
    recruit=EOM_Unicorn,EOM_Water,EOM_Wind_Spirit,EOM_Air,EOM_Vine_Beast,EOM_Fire,EOM_Fire_Wisp,EOM_Vine_Tiger,EOM_Undine,EOM_Ice_Crab,EOM_Zephyr,EOM_Rock_Golem,EOM_Earth,EOM_Living_Furnace,EOM_Silver_Unicorn,EOM_Razorbird,EOM_Thunderbird
    terrain_liked=Ai # Ice (only in this era, since here ice crabs are recruitable)
    [ai]
        recruitment_pattern=fighter,scout,mixed fighter,mixed fighter,scout,fighter
    [/ai]
[/multiplayer_side]
