#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=EOM_Warrior_Warg
    name= _ "Warrior Warg"
    race=EOM_warg
    image="wargs/warrior.png"
    hitpoints=52
    movement_type=EOM_wolffoot
    movement=6
    experience=72
    level=2
    alignment=chaotic
    advances_to=EOM_Fenrir,EOM_Pack_Leader,EOM_Moon_Blade
    cost=30
    usage=fighter
    description= _ "The Warg who have proven themselves worthy of the name are a force to be reckoned with when defending their homeland."
    die_sound={SOUND_LIST:WOLF_DIE}

    [attack]
        name=sword
        description={STR_SWORD}
        type=blade
        range=melee
        damage=11
        number=3
        icon=attacks/sword-human.png
    [/attack]

# Basic idea:
# The attack animation hit's twice.
# However, it's hard to code a way to double hit,
# we could assume one of the two attacks misses always.

# For coding:
# If there are two [attack_anims], one is choosen randomly
# There could be twiche the same animation, but with different start time,
# so that once the second and once the first swing happens at time=0.
# But because randomness is bad for testing, only one for now.

# Image offsets:
# The base image is 72x72 pixels, and does perfectly fit into this space, can't be moved.
# The animation images are 100x100.
# If the viewpoint are the feet, then the animation images must be moved:
# - 3 pixel down, 1 to the left.
# the engine places the center of the image in the center of the hex.
# If 6 pixels are cropped away from the bottom, the whole image is 3 pixel down.
# 
# Timing:
# 2 factors exist:
# - The red damage number is shown at time=0. start_time can be moved,
#   so it is shown at the right moment.
# - To have the sword swish displayed at the right place, i.e when over the enemy:
#   At the half time of the animation, the sprite starts moving back again.
#   So, the last frame needs to be displayed longer. as the 2nd sword swish would be
#   in the nowhere otherwise
# Image 4 and 8 are the attack frames:
# - so that image 8 is not shown when we're back, show the 9th image longer than the others
#   e.g. three times as long, which would be like if there's a 10th and 11th one.

# Getting Timing numbers (freely choosen):
# - 80 per frame
# - using 12 frames (last 4 times as long)
# - 80*12/2 = start_time -480, if the unit should move back at 0
#   (However, that's not relevant for the start time, see below.)
# Adjust start time to show the number at the 1st ot 2nd swish.
# - (must be shown during image 4 or 8)
# - for first swosh: 80 *4 = start time -320
# - for 2nd swosh: 80 *8 = start time -640

# For ingame testing:
# Set ingame graphic acceleration to 0,25.


    # hitting with 1st swish (if hitting at all)
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-320
        [frame]
            image="wargs/warrior/warg-warrior-attack-[1~8].png~CROP(2,0,98,94):80"
        [/frame]
        [frame]
            image="wargs/warrior/warg-warrior-attack-1.png~CROP(2,0,98,94):270"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -120}
        second_sound_start_time=240
        [second_sound_frame]
            sound={SOUND_LIST:MISS}
        [/second_sound_frame]
    [/attack_anim]

     # hitting with 2nd swish (if hitting at all)
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-640
        [frame]
            image="wargs/warrior/warg-warrior-attack-[1~8].png~CROP(2,0,98,94):80"
        [/frame]
        [frame]
            image="wargs/warrior/warg-warrior-attack-1.png~CROP(2,0,98,94):400"
        [/frame]
        first_sound_start_time=-440
        [first_sound_frame]
            sound={SOUND_LIST:MISS}
        [/first_sound_frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -120}
    [/attack_anim]

    {DEFENSE_ANIM "wargs/warrior/warg-warrior-attack-1.png~CROP(2,0,98,94)" "wargs/warrior.png" {SOUND_LIST:WOLF_HIT} }
[/unit_type]
