#textdomain wesnoth-Era_of_Myths

# For this unit exists an unfinished Animation, which can be activated.
# (This will not cause Out-of-Sync-errors, because only the grahical things will be changed).
# To activate it, remove the space after the # below:

#define EOM_UNUSED_MOON_BLADE_ANIMATION
#enddef

[unit_type]
    id=EOM_Moon_Blade
    name= _ "Moon Blade"
    race=EOM_warg
    image="wargs/moon-blade.png"
    hitpoints=62
    movement_type=EOM_wolffoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    description= _ "The warg revere the moon, and sometimes the moon blesses devout warriors with strange powers. These warg are marked with white fur, and wield swords like slivers of the moon."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:WOLF_DIE}

    [resistance]
        cold=70
        arcane=70
    [/resistance]

    [attack]
        name=Moon Sword
        description=_"Moon Sword"
        type=arcane
        range=melee
        damage=12
        number=3
        icon=attacks/scimitar.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

#ifndef EOM_UNUSED_MOON_BLADE_ANIMATION
    [attack_anim]
        [filter_attack]
            name=Moon Sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="wargs/moon-blade.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {DEFENSE_ANIM "wargs/moon-blade.png" "wargs/moon-blade.png" {SOUND_LIST:WOLF_HIT} }
#else
    [attack_anim]
        [filter_attack]
            name=Moon Sword
        [/filter_attack]
        start_time=-360
        [frame]
            image="wargs/moon-blade/moon-blade-attack-[1~7].png:80"
        [/frame]
        [frame]
            image="wargs/moon-blade/moon-blade-attack-8.png:180"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -35}
    [/attack_anim]
    {DEFENSE_ANIM "wargs/moon-blade/moon-blade.png" "wargs/moon-blade/moon-blade.png" {SOUND_LIST:WOLF_HIT} }

#endif
[/unit_type]
