#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=EOM_Water_Dryad
    name= _ "Water Dryad"
    race=EOM_dryad
    gender=female
    image="wargs/water-dryad.png"
    profile="portraits/wargs/dryad.png~CROP(0,10,450,450)~SEPIA()~FL()"
    small_profile="portraits/wargs/dryad.png~CROP(0,10,250,450)~SEPIA()~FL()"
    hitpoints=26
    movement_type=EOM_Dryad
    movement=6
    experience=38
    level=1
    alignment=neutral
    advances_to=EOM_Water_Nymph
    cost=14
    usage=fighter
    description= _ "In any wetland area you may find a Dryad calling the place her home. Dryads are not combatitive in nature and instead will control surrounding plant life to ensnare her enemies and slow them down until help arrives."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_HEALS}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "wargs/water-dryad.png" "wargs/water-dryad.png" {SOUND_LIST:ELF_FEMALE_HIT}}

    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    [attack]
        name=ensnare
        description={STR_ENSNARE}
        type=impact
        range=melee
        damage=3
        number=4
        icon=attacks/ensnare-2.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [healing_anim]
        start_time=-300
        {HALO_FRAME_SAURIAN}
        [frame]
            image="wargs/water-dryad.png:440"
            # halo=halo/elven/shaman-heal-halo-[1~7].png
        [/frame]
    [/healing_anim]

    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        start_time=-225
        missile_start_time=-100
        offset="0~0.6,0.6~0" # default if no missile_frame is present
        [frame]
            image="wargs/water-dryad.png:300"
        [/frame]
        [if]
            hits=yes
            [missile_frame]
                offset="0.8~1.1,1.1~0.9"
                duration=150
                image="projectiles/entangle.png"
                image_diagonal="projectiles/entangle.png"
                sound=entangle.wav
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                sound=mace-miss.ogg
            [/missile_frame]
        [/else]
    [/attack_anim]
[/unit_type]
