#textdomain wesnoth-PantherLord
[unit_type]
    id=EFM_Lioness
    name= _ "Lioness"
    race=monster
    gender=female
    image="lion/lioness.png"
    hitpoints=47
    movement_type=woodland
    movement=6
    experience=90
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=29
    usage=fighter
    description= _ "Lioness is the fearsome predatory cat sometimes seen in wilderness."
    {DEFENSE_ANIM "lion/lioness.png" "lion/lioness.png" jaguar-hit.ogg }
    undead_variation=human

    [defense]
        village=50
        forest=40
    [/defense]

    [resistance]
        arcane=80
    [/resistance]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=9
        number=4
        icon=attacks/claws.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="lion/lioness.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=300
                image="lion/lioness.png"
                sound=jaguar.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=250
                image="lion/lioness.png"
                sound=jaguar-miss.ogg
            [/frame]
        [/else]
        [frame]
            duration=250
            image="lion/lioness.png"
        [/frame]
    [/attack_anim]
[/unit_type]