#textdomain wesnoth-Era_of_Myths

#define TRAIT_UNDRAINABLE
    # we make vampires undrainable with a trait
    [trait]
        id=undrainable
        availability=musthave
        # no name, we want to hide this trait
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef

#define TRAIT_RUBY
    # like trait strong, but giving +1 HP / level
    [trait]
        id=ruby
        male_name= _ "ruby"
        female_name= _ "female^ruby"
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_EMERALD
    # like trait quick, but instead -5% HP it has -1 HP / level
    [trait]
        id=emerald
        male_name= _ "emerald"
        female_name= _ "female^emerald"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=-1
        [/effect]
    [/trait]
#enddef

#define TRAIT_SAPPHIRE
    # like trait intelligent, but stronger
    [trait]
        id=sapphire
        male_name= _ "sapphire"
        female_name= _ "female^sapphire"
        [effect]
            apply_to=max_experience
            increase=-25%
        [/effect]
    [/trait]
#enddef

#define TRAIT_DIAMOND
    # like trait resilient, but slightly stronger on higher levels
    [trait]
        id=diamond
        male_name= _ "diamond"
        female_name= _ "female^diamond"
        [effect]
            apply_to=hitpoints
            increase_total=3
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=2
        [/effect]
    [/trait]
#enddef

#define TRAIT_AMETHYST
    # like trait dextrous, but with -1 HP
    [trait]
        id=amethyst
        male_name= _ "amethyst"
        female_name= _ "female^amethyst"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-1
        [/effect]
    [/trait]
#enddef

#define TRAIT_BEEFY
    # Units with trait Beefy get 2 more HP plus 1 per level.
    [trait]
        id=beefy
        male_name= _ "beefy"
        female_name= _ "female^beefy"
        description= _ "These Devlings are bigger than other Devlings and can withstand more punishment."
        [effect]
            apply_to=hitpoints
            increase_total=2
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_BRAINY
    # Units with trait Brainy get a 8% +1 decrease in XP required to advance.
    [trait]
        id=brainy
        male_name= _ "brainy"
        female_name= _ "female^brainy"
        description= _ "Brainy Devlings level faster than their brethren."
        [effect]
            apply_to=max_experience
            increase=-8%
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-1
        [/effect]
    [/trait]
#enddef

#define TRAIT_BRAWNY
    # Units with trait Brawny get a +1 increment
    [trait]
        id=brawny
        male_name= _ "brawny"
        female_name= _ "female^brawny"
        description= _ "Brawny Devlings hit harder, but are dumber than other Devlings."
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=12%
        [/effect]
    [/trait]
#enddef

#define TRAIT_OBEDIENT
    [trait]
        id=obedient
        male_name= _ "obedient"
        female_name= _ "female^obedient"
        description= _ "Obedient units require no upkeep costs, but have 5% less hp and take 5% more experience than usual to advance. On level 2 they get a -1 melee damage penality, on level 3 this applies for ranged as well."
#ifver WESNOTH_VERSION >= 1.13.6
        help_text= _ "Obedient units require no upkeep costs, but have 5% less hp and take 5% more experience than usual to advance. On level 2 they get a -1 melee damage penality, on level 3 this applies for ranged as well." +
"

"+ _ "Obedient units are completely submissive to their superiors. Following their every order without pause, obedient units require no upkeep costs to be paid to them. In their submission however, these units neglect their health and become weaker as well as losing some mental acuity."
#endif
        [effect]
            apply_to=loyal
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-5%
        [/effect]
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
        [effect]
            [filter]
                level=2
            [/filter]
            apply_to=attack
            range=melee
            increase_damage=-1
        [/effect]
        [effect]
            [filter]
                [not]
                    level=0
                [/not]
                [not]
                    level=1
                [/not]
                [not]
                    level=2
                [/not]
            [/filter]
            apply_to=attack
            increase_damage=-1
        [/effect]
    [/trait]
#enddef

#define TRAIT_OBEDIENT2
    # needed for WotD, until the next release
    {TRAIT_OBEDIENT}
#enddef

#define TRAIT_ATTUNED
    # only availaible to units who use primary melee attacks
    [trait]
        id=attuned
        male_name= _ "attuned"
        female_name= _ "female^attuned"
        description= _ "Shifters who are attuned to their auras gain a +2 bonus to their aura attacks."
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=2
        [/effect]
    [/trait]
#enddef

#define TRAIT_LEGEND
    # all standard traits in one - with their advantages and disadvantages
    [trait]
        id=legend
        male_name= _ "legendary"
        female_name= _ "female^legendary"
        description= _ "Some people are simply incredible. They seem to have an edge in every area over others. Such units benefit from all standard traits."
        [effect]
            # applies for melee and ranged
            apply_to=attack
            increase_damage=1
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            # the -5% HP from the quick trait roughly equals the +1 HP & +1 HP / level from the strong and resilient traits
            apply_to=hitpoints
            increase_total=4
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef
