#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=EOM_Devling_Chief
    name= _ "Chief"
    race=EOM_devling
    {TRAIT_FEARLESS}
    image="devlings/chief.png"
    profile="portraits/devlings/overgrown.png"
    hitpoints=62
    movement_type=EOM_overgrownfoot
    movement=6
    experience=120
    level=3
    alignment=chaotic
    advances_to=EOM_Grand_Devling_Chief
    cost=43
    usage=mixed fighter
    description= _ "The Devlings Chiefs may look burly compared to their lesser kin but are fierce warriors. Upon their bodies are hung trophies from their latest battles. However they still have not figured out that spears are supposed to be stabbing weapons, but more than make up for that with brute muscle."
    die_sound={SOUND_LIST:ORC_DIE}
    # Usés animations of the previous unit
    {DEFENSE_ANIM "devlings/soldier-defend.png" "devlings/soldier.png" {SOUND_LIST:ORC_HIT} }

    [resistance]
        blade=90
    [/resistance]

    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=8
        number=2
    [/attack]

    [death]
        start_time=0
        [frame]
            image="devlings/soldier-death[1~4].png:125"
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=spear
            range=melee
        [/filter_attack]
        start_time=-250
        [frame]
            image="devlings/soldier-attack[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
            range=ranged
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/spear-n.png"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="devlings/soldier-ranged[1~4].png:[100,150,150,100]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
